<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  <mapper namespace="com.dev.gProducts.trip.tripDao">
  
	  <!-- 계획추가 -->
	  <insert id="tripInsert" parameterType="java.util.Map">  
		  
		  INSERT INTO trip_list (
				tl_tripNo,
				tl_country,
				tl_city,
				tl_startDate,
				tl_endDate,
				tl_tripTitle,
				tl_photoMenuNm
			)
			VALUES(
				#{tripNo},
				#{country},
				#{city},
				#{startDate},
				#{endDate},
				#{tripTitle},
				#{photoMenuNm}
			)
			
	  </insert>
	  
	<!-- 여행 번호 생성 조회 -->
	<select id="tripNoSelect" resultType="string">
	    SELECT IFNULL(CONCAT('trip_', LPAD(MAX(CAST(SUBSTRING(tl_tripNo, 6) AS UNSIGNED)) + 1, 3, '0')), 'trip_001') AS newTripNo 
	    FROM trip_list
	</select>
	
	<!-- 여행 목록 -->
	<select id="tripList" resultType="java.util.Map">
		SELECT 		tl_tripNo,
				    tl_country,
				    tl_city,
				    tl_startDate,
				    tl_endDate,
				    tl_tripTitle,
				    tl_photoMenuNm,
				    tl_regDate,
			    	tl_modDate
		FROM 		trip_list
		ORDER BY 	tl_startDate DESC
	</select>	
	
	<!-- 여행 데이터 -->
	<select id="tripData" resultType="java.util.Map">
		SELECT 		tl_tripNo,
				    tl_country,
				    tl_city,
				    tl_startDate,
				    tl_endDate,
				    tl_tripTitle,
				    tl_photoMenuNm,
				    tl_regDate,
			    	tl_modDate
		FROM 		trip_list
		WHERE		tl_tripNo = #{tripNo}
	</select>
	
	<!-- 여행 삭제 -->
	<delete id="tripDelete">
		DELETE 
		FROM trip_list 
		WHERE tl_tripNo = #{tripNo}
	</delete>
		  
  
  </mapper>